In [30]:
import pycountry
import pandas as pd

In [31]:
countries = []

codes = ['DE', 'US', 'AR', 'AT', 'AU', 'BE', 'BG', 'BR', 'BY', 'CA',
'CH', 'CL', 'CN', 'CO', 'CR', 'CZ', 'DK', 'EE', 'ES', 'FI', 'FR',
'GR', 'HR', 'HU', 'ID', 'IE', 'IL', 'IN', 'IR', 'IT', 'JP', 'KZ',
'LT', 'LV', 'MX', 'NO', 'NZ', 'PL', 'PT', 'RO', 'RS', 'RU',
'SE', 'SI', 'SK', 'TR', 'UA', 'VE', 'ZA', 'PE', 'PH', 'AD', 'AE',
'AF', 'AQ', 'AZ', 'BA', 'BB', 'BD', 'BO', 'BT', 'CC', 'CU', 'CX',
'CY', 'DO', 'EC', 'EG', 'EH', 'GE', 'GS', 'GT', 'HK', 'IS', 'KG',
'KR', 'LA', 'LB', 'LU', 'MA', 'MD', 'ME', 'MG', 'MK', 'MN', 'MT',
'MY', 'MZ', 'NU', 'PA', 'PR', 'PY', 'SA', 'SG', 'SV', 'TH', 'TN',
'TT', 'TW', 'UG', 'UM', 'UY', 'UZ', 'VN', 'WF', 'ZW', 'AM', 'BN',
'DJ', 'FJ', 'FM', 'GH', 'GI', 'HN', 'JM', 'MV', 'NC', 'NP', 'PF',
'RE', 'VI', 'JO', 'KP', 'LI', 'PK', 'SR', 'VA']

In [32]:
for code in codes:
    country = pycountry.countries.get(alpha_2 = code)
    countries.append(country.name)

In [35]:
df = pd.DataFrame({'Code': codes, 'Country': countries})
df.set_index('Code')
df.to_excel('Countries.xlsx')

ModuleNotFoundError: No module named 'openpyxl'

In [34]:
df

    Code                                 Country
0     DE                                 Germany
1     US                           United States
2     AR                               Argentina
3     AT                                 Austria
4     AU                               Australia
..   ...                                     ...
122   KP  Korea, Democratic People's Republic of
123   LI                           Liechtenstein
124   PK                                Pakistan
125   SR                                Suriname
126   VA           Holy See (Vatican City State)

[127 rows x 2 columns]